@import './base.css';

#app{
  background-color: #e0e0e0;
}
section {
  width: 99vw;
  height: 87vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* overflow: hidden; */


}